<!DOCTYPE html>
<html>
<head>
<title>Sample13 GUI</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
<script>
angular.module("mainModule", [])
	.controller("mainController", function ($scope, $http) {
  		$scope.person = {
  			name: "",
  			age: ""
  		};
  		$scope.users = [];
  		$scope.welcomeMsg = null;
  		$scope.canShow = false;
  		
  		var oriPerson = angular.copy($scope.person);

  	    $scope.resetForm = function () {
  	      	$scope.person = angular.copy(oriPerson);
  	      	$scope.userForm.$setPristine();
  	      	$scope.canShow = false;
  	    };

  	    $scope.isPersonChanged = function () {
  	      	return !angular.equals($scope.person, oriPerson);
  	    };
  	    
  		$scope.submitData = function (person, resultVarName) {
		    var params = $.param({
	        	name: person.name,
	        	age: person.age
		    });
    		$http({
    			method: "POST",
    			url: "http://localhost:8080/Sample13/rest/hello",
    			data: params,
    			headers: {'Content-Type': 'application/x-www-form-urlencoded'}
    		}).success(function (data, status, headers, config) {
        		$scope[resultVarName] = data;
        		$scope.users = data.user;
        		$scope.welcomeMsg = data.msg;
        		$scope.canShow = true;
      		}) .error(function (data, status, headers, config) {
        		$scope[resultVarName] = "SUBMIT ERROR";
      		});
  		};
	});	
</script>
<style>
	textarea {
	    width: 300px;
	    height: 80px;
    }
</style>
</head>
<body ng-app="mainModule">
<h2><font color="green">Sample13: AngularJS + REST ~ Spring ~ JDBC</font></h2>
<div ng-controller="mainController">
	<form name="userForm" ng-submit="submitData(person, 'ajaxResult')" novalidate>
		<table>
			<tr>
				<td><label for="name">Name: </label></td>
				<td><input id="name" type="text" name="name" ng-model="person.name" required/></td>
			</tr>
			<tr>
				<td><label for="age">Age: </label></td>
				<td><input id="age" type="number" name="age" ng-model="person.age" min="1" max="100"/></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" ng-click="resetForm()" ng-disabled="!isPersonChanged()">Reset</button>
					<button type="submit" ng-disabled="userForm.$invalid">Submit</button>
				</td>
			</tr>
		</table>	
	</form>
	
    <br />
    <div ng-show="canShow">
		<h2><font color="green" id="welcome">{{welcomeMsg}}</font></h2>
		<table border="1" width="200">
			<thead>
        		<tr>
		          <th>Name</th>
		          <th>Age</th>
        		</tr>
      		</thead>
      		<tbody>
        		<tr ng-repeat="user in users">
          			<td>{{user.name}}</td>
          			<td>{{user.age}}</td>
        		</tr>
      		</tbody>
		</table>
	</div>	  
</div>
	
</body>
</html>